/** Presentation of nanospell.html */

/* Page as a whole */
body { background-color: tan;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12pt;
        font-weight: lighter;
}

/* Suggested completions */
#suggestions {
    display: flex;
    flex-wrap: wrap;
}

#suggestions p { /* Paragraph within suggestions */
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    width: 15%;        /* Ideally */
    min-width: 10em;   /* But no less than ... */
    padding: 0em;
}