<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NanoSpell</title>
    <!-- We will use the JQuery library for a convenient
      -- interface for making an AJAX call.
      -->
    <script src="/static/js/jquery-3.4.0.js"> </script>
</head>
<body>
 <form id="entry">
    <label for="word">Word:</label>
    <input id="word" name="word" type="text" width="25"
      autocomplete="off"  autofocus />
  </form>
  <p id="suggestions"></p>

<script>
    var the_entry_field = document.querySelector("#word");
    // Although we typically place scripts in separate files,
    // we can write small scripts specific to a page
    // in the page, wrapped in a 'script' element.

function be_helpful(event) {
        let the_prefix = the_entry_field.value;
        console.log("Got prefix: " + the_prefix );
        // Note we are using a relative url:  The request will
        // go the same server that the page came from
        jQuery.get('/_suggest_completions',
                  { "prefix": the_prefix },
                  function(data) {
		      console.log(JSON.stringify(data));
		      $("#suggestions").text(JSON.stringify(data));
		  }); 
}

document.addEventListener("DOMContentLoaded", function() {
    let the_form_entry  = document.querySelector("#word");
    the_form_entry.addEventListener('input', be_helpful); // Triggers on changes as user types
    });

</script>
</body>
</html>