<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NanoSpell</title>
    <link rel="stylesheet" href="/static/nanospell.css" />
    <!-- We will use the JQuery library for a convenient
      -- interface for making an AJAX call.
      -->
    <script src="/static/js/jquery-3.4.0.js"> </script>
</head>
<body>
 <form id="entry">
    <label for="word">Word:</label>
    <input id="word" name="word" type="text" width="25"
      autocomplete="off"  autofocus />
  </form>
  <div id="suggestions"></div>

 <!-- A script that is relatively independent of page content
   -- should be in a separate file.  A script that refers to
   -- items on a page (e.g., #entry and #suggestions on this page)
   -- is best included in the same page.
   -->
<script>
    var the_entry_field = document.querySelector("#word");


    /** Ask the server for suggested completions of a word. */
    function be_helpful(event) {
        let the_prefix = the_entry_field.value;
        console.log("Got prefix: " + the_prefix );
        //  The request will go the same server that the page came from
        jQuery.get('/_suggest_completions',
                  { "prefix": the_prefix },
                  function(data) {
                    insert_suggestions(data.suggestions);
                  }
        );
    }

    /** Insert suggested completions into the the paragraph
     * with identifier #suggestions
     * @param suggestions a list of strings
     */
    function insert_suggestions(suggestions) {
        let the_div = jQuery("#suggestions");
        // Clear the old content
        the_div.text("");
        // Insert each suggestion
        suggestions.forEach( function (s) {
            the_div.append(`<p>${s}</p>`);
        });
    }


    /** Attach the 'be_helpful' listener to the input field. */
    jQuery(document).ready(function(ev) {
                   jQuery("#word").keyup(be_helpful);
                 });

</script>
</body>
</html>