/* 
 * Styles for line-by-line translation, to enable showing 
 * or not showing the translated text. 
 */

.es { color: black; }
.en { display: none; }
span.reveal { display: inline;
	      color: red;
	    }
